/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background: url('WISHI.webp') no-repeat center center fixed;
    background-size: cover;
}

header {
    background: rgba(20, 16, 16, 0.9);
    color: #f7f7f7;
    padding: 10px 20px;
}

header .logo h1 {
    margin: 0;
    font-size: 2rem;
}

header .logo p {
    font-size: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    text-align: center;
    background: linear-gradient(to right, #0004ff, #c4c5d4);
    color: #fff;
    padding: 50px 20px;
}

.hero button {
    background: #fff;
    color: #4c84af;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.hero button:hover {
    background: #f1f1f1;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: #fff;
}

.features .feature {
    text-align: center;
    width: 30%;
}

button {
    background-color: #4c84af;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #357bb3;
}

#contact form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#contact input,
#contact textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}

#contact input:focus,
#contact textarea:focus {
    border-color: #4c84af;
}

#contact button {
    background-color: #4c84af;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#contact button:hover {
    background-color: #357bb3;
}

/* Subscription Modal Styles */
#subscription-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.modal-content input,
.modal-content select,
.modal-content button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content button {
    background-color: #4c84af;
    color: white;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #357bb3;
}
